.carousel {
    background:
        linear-gradient(rgba(124, 120, 120, 0.7),
            rgba(70, 63, 63, 0.7)),
        url(img/Wireframe.png) no-repeat ;
    background-size: cover;


}
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

